<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WinREG.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WinREG.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="WinREG/3" switchName="DefaultSwitch">
                <listeners>
						 <add name="FileLog"/>
						 <!-- Uncomment the below section to write to the Application Event Log -->
						 <!-- <add name="EventLog"/>  -->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
			  <add name="FileLog" type="LogListener.LogListener, LogListener, Version=1.0.0.0, Culture=neutral, PublicKeyToken=75614fed95403164, processorArchitecture=MSIL" initializeData="FileLogWriterListener" location="Custom" customlocation="C:\TEMP"/>
			  <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			  <!-- <add name="EventLog"
					 type="System.Diagnostics.EventLogTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					 initializeData="WinREG3"/> -->
		  </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <WinREG.My.MySettings>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="Syndicate" serializeAs="String">
                <value />
            </setting>
            <setting name="DataFolderName" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupFolderName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProductFolderName" serializeAs="String">
                <value />
            </setting>
            <setting name="Location_MainForm" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowState_MainForm" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Size_MainForm" serializeAs="String">
                <value>729, 452</value>
            </setting>
            <setting name="MyUCFLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MyUCFWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MyDatePickerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MyDatePickerWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MyDisplayTooltips" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageFolderName" serializeAs="String">
                <value />
            </setting>
            <setting name="MyImageViewerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MyImageViewerSize" serializeAs="String">
                <value>523, 348</value>
            </setting>
            <setting name="MyImageViewerWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MyImageViewerSplitterDistance" serializeAs="String">
                <value>169</value>
            </setting>
            <setting name="MyImageViewerOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MyTreeViewerSplitterDistance" serializeAs="String">
                <value>143</value>
            </setting>
            <setting name="MyColumnWidth1" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MyColumnWidth2" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MyColumnWidth3" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MyImageZoomFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MyBackupRestoreLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MyBackupRestoreWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MyUserSettingsWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MyUserSettingsSize" serializeAs="String">
                <value>334, 385</value>
            </setting>
            <setting name="MyUserSettingsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MyHelpfulHintsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MyHelpfulHintsWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="TooltipsDisplayPeriod" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MyAutofillFields" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MyOptionsTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MyOptionsWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MyOptionsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MyMRUSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MyCommonFileDetailsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MyCommonFileDetailsWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MyEditFileNameLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MyEditFileNameWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MyCellColour" serializeAs="String">
                <value>LemonChiffon</value>
            </setting>
            <setting name="MyAlternateCellColour" serializeAs="String">
                <value>Wheat</value>
            </setting>
            <setting name="MyCellFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="AutoCopyDates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MyLeadingZeroOnDates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmRecordDuplication" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MyCreateBackups" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadFinished" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseDataGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSplashScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MyUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="MyUserPassword" serializeAs="String">
                <value />
            </setting>
        </WinREG.My.MySettings>
    </userSettings>
    <applicationSettings>
        <WinREG.My.MySettings>
            <setting name="HelpFileName" serializeAs="String">
                <value>WinREG3a.chm</value>
            </setting>
            <setting name="DefaultCellFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="DefaultCellColour" serializeAs="String">
                <value>LemonChiffon</value>
            </setting>
            <setting name="DefaultAlternateCellColour" serializeAs="String">
                <value>Wheat</value>
            </setting>
        </WinREG.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
