<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinREG.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinREG.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
			  <source name="WinREG/3" switchName="DefaultSwitch">
				  <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
			  <add name="FileLog" type="LogListener.LogListener, LogListener, Version=1.0.0.0, Culture=neutral, PublicKeyToken=75614fed95403164, processorArchitecture=MSIL" initializeData="FileLogWriterListener" location="Custom" customlocation="C:\TEMP"/>
			  <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <WinREG.My.MySettings>
            <setting name="MyFormSize" serializeAs="String">
                <value>901, 614</value>
            </setting>
            <setting name="MyFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MyFormWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MyDisplayTooltips" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TooltipsDisplayPeriod" serializeAs="String">
                <value>10</value>
            </setting>
        </WinREG.My.MySettings>
    </userSettings>
    <applicationSettings>
        <WinREG.My.MySettings>
            <setting name="urlFreeREG" serializeAs="String">
                <value>http://www.freereg.org.uk/cgi/Login.pl</value>
            </setting>
            <setting name="HelpFileName" serializeAs="String">
                <value>WinREG3a.chm</value>
            </setting>
        </WinREG.My.MySettings>
    </applicationSettings>
</configuration>
